html,
body
{
  color: #AFEEEE;
  background-color: #FFC0CB;
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto Condensed', Georgia, sans-serif
}

.btn {
  border-radius: 0px
}

.details {
  margin-top: 0px
}

a {
  color: #AFEEEE;
}

.state {
  text-align: center
}

.state {
  display: none
}

p {
  font-size: 30px
}

h1 {
  font-size: 50px
}

h3 {
  font-size: 45px
}



.btn:hover {
  background-color: #FFC0CB;
  font-size: 24px
}

.btn {
  color: #101010;
  background-color: #AFEEEE;
  border-radius: 15px 15px 15px 15px
}

.col-md-4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.infinity {
  cursor: pointer;
  color: #101010;
  background-color: #AFEEEE;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 0px 0px 2px #101010;  
  border-radius: 15px 15px 15px 15px
}

.infinity-btn {
  cursor: pointer;
  color: #101010;
  background: #D1D0CE;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 0px 0px 2px #101010;
}

.mainTime {
  margin: 1%
}

.mainTime:hover {
  color: #101010;
  background-color: #FFC0CB;
  border-radius: 15px 15px 15px 15px
}

.spacer {
  margin-top: 15%
}
