html,
body {
  color: #D1D0CE;
  background-color: #101010;
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto Condensed', Georgia, sans-serif;
}

.btn {
  border-radius: 0px
}

}

.details {
  margin-top: 0px
}

a {
  color: #D1D0CE;
}

.state {
  text-align: center;
}

.state {
  display: none;
}

p {
  font-size: 30px;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 45px;
}



.btn {
  color: #101010;
  background: #D1D0CE;
  box-shadow: 10px 0px 0px 2px #101010
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 0px 0px 0px;
  font-size: 24px
}

.btn:hover {
  box-shadow: 0px 0px 0px 2px #D1D0CE
}

.col-md-4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.infinity {
  cursor: pointer;
  color: #101010;
  background: #D1D0CE;
  box-shadow: 10px 0px 0px 2px #101010
}

.infinity:hover {
  box-shadow: 0px 0px 0px 2px #D1D0CE
}

.spacer {
  margin-top: 30%
}